@model LabmasterAdminapp.Models.Zajecia

@{
    ViewBag.Title = "Dodaj zajęcia";
}

<h2>Dodaj zajęcia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Zajecia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_grupy, "Grupa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_grupy", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_grupy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rozpoczecie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rozpoczecie, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.rozpoczecie, "", new { @class = "text-danger" })
                <p>DD/MM/YYYY HH:MM:SS</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zakonczenie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zakonczenie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zakonczenie, "", new { @class = "text-danger" })
                <p>DD/MM/YYYY HH:MM:SS</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_przedmiotu, "id_przedmiotu", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
            <div class="col-md-10">
                @Html.DropDownList("id_przedmiotu", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
                @Html.ValidationMessageFor(model => model.id_przedmiotu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_sali, "Sala", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_sali", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_sali, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Wróć", null, null, null, new { href = Request.UrlReferrer })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

}
